#picofme {
  position: absolute;
  height: 600px;
  /*float: left;*/
  margin-top: -30px;
  z-index: 1;
  margin-left: 0px;
}

@media screen and (max-width: 1112px) {
  #picofme {
    height: 500px;
  }
}

h1 {
  font-size: 70px;
}

@media screen and (max-width: 992px) {
  #picofme {
    height: 400px;
  }
  h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 788px) {
  #picofme {
    height: 300px;
  }
  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 623px) {
  h1 {
    font-size: 40px;
    float: left;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
}

.body {
  margin: 0px;
}

#contentWrapper {
    position: absolute;
    width: 100%;
    margin-top: -20px;
    background: black;
    height: 132px;
    z-index: -1;
}

@media screen and (max-width: 992px) {
  #contentWrapper {
    height: 100px;
  }
}

.myName {
  color: grey;
  z-index: 1;
  font-size: 100px;
  position: relative;
  margin-top: 10px;
  margin-left: 40%;
}

.red {
  color: red;
}

.container {
  margin-left: -30px;
  margin-top: 0px;
}

.panel-heading {
  color: red;
}

.panelAbout {
  display: none;
}

.panelResume {
  display: none;
}

.panelInterests {
  display: none;
}

/*.panelProjects {
  display: none;
}*/

.panelProjects img {
  width: 75px;
  height: 70px;
  float: left;
  padding: 3px;
}

.panelProjects p {
  color: black;
  text-align: center;
}

.panelProjects .panel {
  margin: 1px;
  border-width: 1px;
}
